*{
    margin: 0px;
    padding: 0px;
    background-color:azure;
    font-family: 'Dancing Script', cursive;
}
.navbar{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 150px;
}
.navbar>img{
    width: 300px;
    height: 150px;
}
.list{
    list-style: none;
    display: inline;
    color: rgb(70, 11, 126);
}
.link{
    text-decoration: none;
    margin: 0px 20px;
    font-weight: bold;
    color: rgb(70, 11, 126);
}
.link:hover {
   color: red;
}
header{
    width: 100%;
    height: 500px;
    background: url(https://www.mashed.com/img/gallery/30-best-ice-cream-flavors-ranked-from-worst-to-best/l-intro-1654092923.jpg);
    background-size: cover;
}
.one{
    border: 1px solid black;
    margin-left: 200px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: skyblue;
}
.two{
    border: 1px solid black;
    margin-left: 200px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: skyblue;
}
.three{
    border: 1px solid black;
    margin-left: 200px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: skyblue;

}
.four{

    border: 1px solid black;
    margin-left: 200px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: skyblue;
}
.five{

    border: 1px solid black;
    margin-left: 200px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 300px;
    background-color: skyblue;
}
.container{
    width:70px;
    height: 300px;
    margin: 30px;
    padding: 10px;
    background-color: chocolate;
    text-align: center;
}
.gallery:hover h4{
    color: brown;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 30px 20px;
    height: 150px;
}
.contact{
    display: block;
    text-align: center;
    
    
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conn{
    display: block;
    text-align: center;
  
    
}
.icons{
    display: flex;
    margin-top: 15px;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,yellow,orange,rgb(243, 93, 93));
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.icon i{
    font-size: 30px;
    color: black
}
.icon:hover i{
    color: black;
    animation: shake 1s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform:rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}
.form-head:hover {
    color: blue;
}
.btn{
    border-radius: 30px;
    width: 100px;
    font-weight: bold;
}
#menu h3{
    font-family: 'Times New Roman', Times, serif;
}